* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

.cart-container {
  position: relative;
}

.cart-container-icon {
  width: 65px;
  cursor: pointer;
}

.cart-container-total, .cart-container-arrow {
  cursor: pointer;
}

.cart-container-qtty {
  position: absolute;
  left: 18px;
  bottom: 45%;
  font-size: 25px;
  font-weight: 500;
  background-color: black;
  color: white;
  min-width: 38px;
  min-height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



.items-container {
  width: 90%;
  margin: auto;
}

.items-container img {
  width: 75%;
  margin: 5px auto;
}

.modal-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 25px;
}

.modal-item-qtty {
  flex: 1;
}

.modal-item-name {
  flex: 4;
  margin: 0;
}

.modal-item-price {
  flex: 4;
}

.modal-item-icon-close {
  width: 25px;
  cursor: pointer;
}
