* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeded;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #131921;
  color: #fefefe;
  z-index: 100;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 5px;
}

.cart-container {
  position: relative;
}

.cart-container-icon {
  width: 65px;
  cursor: pointer;
}

.cart-container-qtty {
  position: absolute;
  left: 18px;
  bottom: 32px;
  font-size: 25px;
  font-weight: 500;
  background-color: #131921;
  /* border: 1px solid #f08804; */
  color: #f08804;
  min-width: 38px;
  min-height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-container-total {
  cursor: pointer;
}

.modal-item {
  display: flex;
  align-items: center;
  padding: 5px 20px;
}

.modal-item-name {
  flex: 4;
  margin: 0;
}

.modal-item-price,
.modal-item-qtty,
.modal-item-subTotal {
  flex: 2;
}

.modal-item-deleteIcon {
  width: 25px;
  cursor: pointer;
}

.items-container {
  width: 95%;
  margin: 90px auto 10px;
}

.items-container img {
  width: 75%;
  margin: 5px auto 0px;
}

.add-to-cart-btn {
  background-color: #ffd814;
  color: #131921;
}

.add-to-cart-btn:hover {
  background-color: #eec600;
}

.remove-from-cart-btn {
  background-color: #ff3838;
  color: #131921;
}

.remove-from-cart-btn:hover {
  background-color: #ff1919;
}